<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Payment</title>
    <style>
        #modal-close.close {
            display: none;
        }
    </style>
</head>

<body>
    <script src="https://checkout.razorpay.com/v1/checkout.js"></script>
    <form action="<%=callbackUrl%>" method="POST" id="callback_response">
        <input type="hidden" custom="Hidden Element" name="token" value="<%=token%>" />
    </form>
    <script>
        var options = {
            "key": "<%=process.env.RAZORPAY_KEY_ID%>",
            "amount": "<%=amount%>",
            "currency": "<%=currency%>",
            "name": "Digidocs Tech Pvt Ltd",
            "description": "Aadhaar E-Sign Payment",
            "image": "https://digidocs-prod-bucket.s3.ap-south-1.amazonaws.com/digidocs-logo.jpeg",
            "order_id": "<%=orderId%>",
            "handler": function (response) {
                var s = document.createElement("input");
                s.setAttribute("type", "hidden");
                s.setAttribute("custom", "Hidden Element");
                s.setAttribute("name", "response");
                s.setAttribute("value", JSON.stringify(response));
                document.getElementById("callback_response").appendChild(s)
                document.getElementById("callback_response").submit()
            },
            
            "modal": {
                "ondismiss": function () {
                    const response = {
                        error: "payment cancelled"
                    }
                    var s = document.createElement("input");
                    s.setAttribute("type", "hidden");
                    s.setAttribute("custom", "Hidden Element");
                    s.setAttribute("name", "response");
                    s.setAttribute("value", JSON.stringify(response));
                    document.getElementById("callback_response").appendChild(s);
                    document.getElementById("callback_response").submit()
                }
            },
            "prefill": {
                "name": "<%=name%>",
                "email": "<%=email%>",
                "contact": "<%=phoneNo%>"
            },
            "theme": {
                "color": "#1F7AE0"
            }
        };
        var rzp = new Razorpay(options);
        // rzp.on('payment.failed', function (response) {
        //     var s = document.createElement("input");
        //     s.setAttribute("type", "hidden");
        //     s.setAttribute("custom", "Hidden Element");
        //     s.setAttribute("name", "response");
        //     s.setAttribute("value", JSON.stringify(response));
        //     document.getElementById("callback_response").appendChild(s);
        //     document.getElementById("callback_response").submit()
        // });
        window.addEventListener("load", () => {
            rzp.open();
        })
    </script>
</body>

</html>